/*---------- MAIN BODY ----------*/
body{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    background: #212121;
    color: #fdfdfd;
}

/*---------- NAVIGATION ----------*/
.main-menu{
    overflow:hidden; 
    /*margin-bottom:50px;*/
    width:100%;
    background: #191919;
    color:white; 
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 9px black;
    padding: 10px 0;
}
.main-menu ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.main-menu li{
    display: inline;
    padding: 7px 15px;
}
.main-menu a{
    color: unset;
    text-decoration:none;
    cursor: pointer;
}
.main-menu .active{
    border-bottom: 1px solid #00e1c2;
}
/*Login button in navigation*/
.login-button{
    background: #00e1c2;
    border-radius: 5px;
}
.login-button:hover{
    font-weight: bold;
}

/*---------- HOME IMAGE ----------*/
.top-image{
    background-image: url("image.jpg");
    background-position: bottom;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-image div{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 0 0 20px black;
}

/*---------- SITE CONTENT ----------*/
main{
    width: 100%;
    margin: 0 auto;
}
article{
    width: 80%;
    margin: 0 auto;
}

/*---------- 3 ITEMS ----------*/
.item-wrapper{
    width: 100%;
    background: #ffffff10;
    overflow: auto;
}
.item{
    float: left;
    width: 31.2%;
    margin: 50px 1%;
    text-align: center;
    min-width: 250px;
}
@media only screen and (max-width: 800px) {
    .item{
        float: unset;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 400px) {
    .item{
        float: unset;
        width: 90%;
    }
}
.item img{
    height: 150px;
    border-radius: 3px;
    box-shadow: 0 0 9px #00000020;
}

/*---------- CHALLENGES ----------*/
.challenges{
    height: 1200px;
    background: #ffffff10;
    width: 80%;
    margin: 0 auto;
}
.challenge{
    background: #212121;
    float: left;
}

/*---------- LOGIN FORM ----------*/
.login-form{
    box-shadow: 0 0 9px black;
    width: 60%;
    min-width: 100px;
    max-width: 500px;
    margin: 200px auto;
    text-align: center;
    padding: 50px;
    border-radius: 9px;
    
    background: #00e1c2;
    background-image: url("Login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #212121;
    height: 600px;
}
.login-submit{
    text-align: center;
}

/*---------- PROFILE ----------*/
.profile-header{
    position: relative;
    top: -40px;
    margin: -120px 20%;
    margin-bottom: -80px;
    overflow: auto;
    text-align: center;
}
.profile-picture{

    float: left;
    height: 170px;
    width: 170px;
    border-radius: 12px;
    border: 8px solid #212121;
}
.user-name{
    font-size: 2.6em;
    float: left;
    padding: 60px 2%;
}

.background{
    background-image: url("image.jpg");
    background-position: bottom;
    height: 270px;
    position: relative;
    margin-bottom: 80px;
}
.background div{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 0 0 20px black;
}

/*---------- FOOTER ----------*/
footer{
    margin-top: 200px;
    overflow: auto;
    /*box-shadow: 0 0 9px black;*/
    background: #111111;
    height: 500px;
    position: relative;
    
    /*Background image*/
    background-image: url("Footer2.png");
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center;
}
footer dl{
    padding: 50px;
    margin: 0;
    float: left;
}
footer dt{
    font-weight: bolder;
    color: #00e1c2;
    margin: 0
}
footer dd{
    margin: 0
}
.copyright{
    /*Stick to bottom of footer*/
    position: absolute;
    bottom: 0px;
    width: 100%;
    
    clear: both;
    background: #ffffff10;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}
