/*---------- MAIN STYLING ----------*/
body{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    background: #212121;
    color: #fdfdfd;
}
h1{
    
}
h2{
    color: #00e1c2;
}

/*---------- BUTTONS ----------*/
.btn-primary{
    padding: 15px 35px;
    background-color: #00e1c2;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    box-shadow: 0 0 9px #00000020;
    transition: 0.3s;
}
.btn-primary:hover{
    scale: 1.05;
    background-color: #007969;
    color: white;
    transition: 0.3s;
}
.btn-secondary{
    padding: 15px 35px;
    background-color: #007969;
    color: white;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    box-shadow: 0 0 9px #00000020;
    transition: 0.3s;
}
.btn-secondary:hover{
    scale: 1.05;
    background-color: #00e1c2;
    color: #212121;
    transition: 0.3s;
}

/*---------- NAVIGATION ----------*/
.main-menu{
    overflow:hidden; 
    /*margin-bottom:50px;*/
    width:100%;
    background: #191919;
    color:white; 
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 9px black;
    padding: 10px 0;
}
.main-menu ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.main-menu li{
    display: inline;
    padding: 7px 15px;
}
.main-menu a{
    color: unset;
    text-decoration:none;
    cursor: pointer;
}
.main-menu .active{
    border-bottom: 1px solid #00e1c2;
}
/*Login button in navigation*/
.login-button{
    background: #00e1c2;
    border-radius: 5px;
}
.login-button:hover{
    font-weight: bold;
}

/*---------- HOME IMAGE ----------*/
.top-image{
    background-image: url("../images/image.jpg");
    background-position: bottom;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-image div{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 0 0 20px black;
}

/*---------- SITE CONTENT ----------*/
main{
    width: 100%;
    margin: 0 auto;
}
article{
    width: 80%;
    margin: 0 auto;
}

/*---------- 3 ITEMS ----------*/
.item-wrapper{
    width: 100%;
    background: #ffffff10;
    overflow: auto;
}
.item{
    float: left;
    width: 31.2%;
    margin: 50px 1%;
    text-align: center;
    min-width: 250px;
}
@media only screen and (max-width: 800px) {
    .item{
        float: unset;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 500px) {
    .item{
        float: unset;
        width: 90%;
    }
}
.item img{
    height: 150px;
    border-radius: 3px;
    box-shadow: 0 0 9px #00000020;
    transition: 0.3s;
}
.item img:hover{
    scale: 1.05;
    box-shadow: 0 0 15px #00000020;
    transition: 0.3s;
}

/*---------- CHALLENGES ----------*/
.challenges{
    width: 80%;
    margin: 0 auto;
}
@media only screen and (max-width: 800px) {
    .challenges{
        width: 100%;
        padding: 40px 0;
    }
}
.challenge-wrapper{
    background: #ffffff10;
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
}
.challenge{
    background: #212121;
    float: left;
    width: 31%;
    min-width: 175px;
    max-width: 500px;
    border-radius: 9px;
    height: 300px;
    margin: 1%;
}
@media only screen and (max-width: 800px) {
    .challenge{
        float: unset;
        width: 60%;
        margin: 30px auto;
    }
}
@media only screen and (max-width: 500px) {
    .challenge{
        float: unset;
        width: 90%;
    }
}
.challenge-color{
    border-radius: 9px 9px 0 0;
}
.challenge-color p{
    padding: 5px 20px;
    margin: 0;
    font-size: 3em;
    opacity: 0.4;
}
.challenge-description{
    padding: 20px;
}
.challenge-description h2{
    margin-top: 0;
    /*min-height: 55px;*/
}
.challenge img{
    /*Profile picture of uploader*/
}

/*---------- LOGIN FORM ----------*/
.form-wrapper{
    box-shadow: 0 0 9px black;
    width: 60%;
    min-width: 100px;
    max-width: 500px;
    margin: 200px auto;
    padding: 50px;
    border-radius: 9px;
    
    background-color: #00e1c2;
    background-image: url("../images/Login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #212121;
    height: 600px;
}
.login-form{
    margin-top: 60px;
    text-align: center;
}
.login-submit{
    text-align: center;
    cursor: pointer;
}
.login-form input{
    width: 80%;
    background: #007969;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 9px;
    margin: 7px 0 20px 0;
}
.login-form p{
    text-align: center;
}
.login-submit{
    margin-top: 150px;
}
.login-submit:hover{
    box-shadow: 0 0 17px #00e1c2;
}

/*---------- PROFILE ----------*/
.profile-header{
    position: relative;
    top: -40px;
    margin: -120px 20%;
    margin-bottom: -80px;
    overflow: auto;
    text-align: center;
}
.profile-picture{

    float: left;
    height: 170px;
    width: 170px;
    border-radius: 12px;
    border: 8px solid #212121;
}
.user-name{
    font-size: 2.6em;
    float: left;
    padding: 60px 2%;
}

.background{
    background-image: url("../images/image.jpg");
    background-position: bottom;
    height: 270px;
    position: relative;
    margin-bottom: 80px;
}
.background div{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 0 0 20px black;
}

/*---------- FOOTER ----------*/
footer{
    margin-top: 200px;
    overflow: auto;
    /*box-shadow: 0 0 9px black;*/
    background: #111111;
    height: 500px;
    position: relative;
    
    /*Background image*/
    background-image: url("../images/Footer2.png");
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center;
}
footer dl{
    padding: 50px;
    margin: 0;
    float: left;
}
footer dt{
    font-weight: bolder;
    color: #00e1c2;
    margin: 0
}
footer dd{
    margin: 0
}
.copyright{
    /*Stick to bottom of footer*/
    position: absolute;
    bottom: 0px;
    width: 100%;
    
    clear: both;
    background: #ffffff10;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}
