/*---------- MAIN STYLING ----------*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    background: #212121;
    color: #fdfdfd;
}
h1{
    
}
h2{
    color: #00e1c2;
}

/*---------- BUTTONS ----------*/
.btn-primary{
    padding: 15px 35px;
    background-color: #00e1c2;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    box-shadow: 0 0 9px #00000020;
    transition: 0.3s;
    cursor: pointer;
}
.btn-primary:hover{
    scale: 1.05;
    background-color: #007969;
    color: white;
    transition: 0.3s;
}
.btn-secondary{
    padding: 15px 35px;
    background-color: #007969;
    color: white;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    box-shadow: 0 0 9px #00000020;
    transition: 0.3s;
    cursor: pointer;
}
.btn-secondary:hover{
    scale: 1.05;
    background-color: #00e1c2;
    color: #212121;
    transition: 0.3s;
}

/*---------- NAVIGATION ----------*/
.main-menu{
    /*overflow:auto;*/
    height: 50px;
    width:100%;
    background: #191919;
    color:white; 
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 9px black;
    padding: 10px 0;
}
.main-menu ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    float: left;
    width: 34%;
    margin-top: 12px;
}
.main-menu li{
    display: inline;
    padding: 7px 15px;
}
.main-menu a{
    color: unset;
    text-decoration:none;
    cursor: pointer;
}
.main-menu .active{
    border-bottom: 1px solid #00e1c2;
}
/*Login button in navigation*/
.login-button{
    background: #00e1c2;
    border-radius: 5px;
}
.login-button:hover{
    font-weight: bold;
}
/*User profile picture when logged in*/
.user-dropdown{
    position: relative;
    overflow: auto;
}
.dropdown{
    display: none;
    overflow: auto;
    background: #2f2f2f;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #3d3d3d;
    margin: 0 10px;
    float: right;
}
.dropdown dt{
    font-weight: bold;
    border-bottom: 1px solid #3d3d3d;
}
.dropdown dd a:hover{
    cursor: pointer;
    font-weight: bold;
}
.dropdown-entry{
    margin: 0;
    padding: 7px;
}
.pb-image-wrapper{
    float: left;
    width: 33%;
    text-align: right;
    margin-top: 4px;
}
.pb-image-wrapper img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.flex-33{
    float: left;
    width: 33%;
    height:1px;
}

/*---------- HOME IMAGE ----------*/
.top-image{
    background-image: url("../images/image.jpg");
    background-position: bottom;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-image div{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 0 0 20px black;
}

/*---------- SITE CONTENT ----------*/
main{
    width: 100%;
    margin: 0 auto;
}
article{
    width: 80%;
    margin: 0 auto;
}

/*---------- 3 ITEMS ----------*/
.item-wrapper{
    width: 100%;
    background: #ffffff10;
    overflow: auto;
}
.item{
    float: left;
    width: 31.2%;
    margin: 50px 1%;
    text-align: center;
    min-width: 250px;
}
@media only screen and (max-width: 800px) {
    .item{
        float: unset;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 500px) {
    .item{
        float: unset;
        width: 90%;
    }
}
.item img{
    height: 150px;
    border-radius: 3px;
    box-shadow: 0 0 9px #00000020;
    transition: 0.3s;
}
.item img:hover{
    scale: 1.05;
    box-shadow: 0 0 15px #00000020;
    transition: 0.3s;
}

/*---------- CHALLENGES ----------*/
.challenges{
    width: 80%;
    margin: 0 auto;
}
@media only screen and (max-width: 800px) {
    .challenges{
        width: 100%;
        padding: 40px 0;
    }
}
.challenge-picture{
    position: relative;
    right: 15px;
    top: -50px;
    float: right;
    height: 80px;
    width: 80px;
    margin: 12px;
    border-radius: 12px;
    border: 8px solid #212121;
    background-color: #007969;
}
.challenge-wrapper{
    background: #ffffff10;
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
}
.challenge{
    background: #212121;
    float: left;
    width: 31%;
    min-width: 175px;
    max-width: 500px;
    border-radius: 9px;
    height: 300px;
    margin: 1%;
}
@media only screen and (max-width: 800px) {
    .challenge{
        float: unset;
        width: 60%;
        margin: 30px auto;
    }
}
@media only screen and (max-width: 500px) {
    .challenge{
        float: unset;
        width: 90%;
    }
}
.challenge-color{
    border-radius: 9px 9px 0 0;
}
.challenge-color p{
    padding: 5px 20px;
    margin: 0;
    font-size: 3em;
    opacity: 0.4;
}
.challenge-description{
    padding: 20px;
}
.challenge-description h2{
    margin-top: 0;
    /*min-height: 55px;*/
}
.challenge img{
    /*Profile picture of uploader*/
}

/*---------- LOGIN FORM ----------*/
.form-wrapper{
    box-shadow: 0 0 9px black;
    width: 60%;
    min-width: 100px;
    max-width: 500px;
    margin: 200px auto;
    padding: 50px;
    border-radius: 9px;
    
    background-color: #00e1c2;
    background-image: url("../images/Login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #212121;
    height: 600px;
}
.login-form{
    margin-top: 60px;
    text-align: center;
}
.login-submit{
    text-align: center;
    cursor: pointer;
}
.login-form input{
    width: 80%;
    background: #007969;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 9px;
    margin: 7px 0 20px 0;
}
.login-form p{
    text-align: center;
}
.login-submit{
    margin-top: 150px;
}
.login-submit:hover{
    box-shadow: 0 0 17px #00e1c2;
}
.form-wrapper h2{
    color: #242424;
}

/*---------- PROFILE FORMS ----------*/
.profile form input, .profile form textarea, .profile form select{
    background: #ffffff20;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 9px;
    margin: 10px 0 20px 0;
    width: 450px;
}
.profile #new-pw{
    margin-bottom: 0;
}
.profile form select{
    width: 470px;
}
/*Image uploads*/
.change-banner input[type="file"]{
    display: none;

}
.background form{
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: -4px;
    z-index:1;
}
.change-banner{
    position:relative;
    opacity: 0.3;
}
.change-banner:hover{
    opacity: 0.7;
}
.change-picture input[type="file"]{
    display: none;

}
.change-picture label{
    cursor: pointer;
    left: 70px;
    top: -45px;;
    position: relative;
    opacity: 0.3;
}
.change-picture label:hover{
    opacity: 0.7;
}

/*---------- PROFILE ----------*/
.profile-header{
    position: relative;
    top: -60px;
    margin: -120px 20%;
    margin-bottom: -80px;
    overflow: auto;
    text-align: center;
    width: 80%;
}
@media only screen and (max-width: 500px) {
    .profile-header{
        width: 70%;
    }
}
.profile-picture{
    display:inline-block;
    float: left;
    height: 170px;
    width: 170px;
}
.profile-picture img{
    height: 170px;
    width: 170px;
    border-radius: 12px;
    border-radius: 12px;
    border: 8px solid #212121;
    background-color: #007969;
}
.user-name{
    font-size: 2.6em;
    float: left;
    padding: 60px 2%;
}
@media only screen and (max-width: 500px) {
    .user-name{
        font-size: 2.6em;
        float: left;
        padding: 0;
        margin-top: 0;
    }
}

.background{
    background-image: url("../images/image.jpg");
    background-position: bottom;
    height: 270px;
    position: relative;
    margin-bottom: 80px;
}
.background div{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 0 0 20px black;
}

/*---------- FOOTER ----------*/
footer{
    margin-top: 200px;
    overflow: auto;
    /*box-shadow: 0 0 9px black;*/
    background: #111111;
    height: 500px;
    position: relative;
    
    /*Background image*/
    background-image: url("../images/Footer2.png");
    background-repeat: no-repeat;
    /*background-blend-mode: soft-light;*/
    background-position: center;
}
footer dl{
    padding: 50px;
    margin: 0;
    float: left;
}
footer dt{
    font-weight: bolder;
    color: #00e1c2;
    margin: 0
}
footer dd{
    margin: 0;
    opacity: 0.3;
}
footer nav{
    overflow: auto;
    padding: 60px;
    font-size: 1.2em;
}
footer .btn-to-top{
    position: absolute;
    top: 10%;
    left: 50%;
    padding: 10px 25px;
    background-color: #00e1c2;
    color: #242424;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-size: 1.5em;
    border-radius: 3px;
    box-shadow: 0 0 9px black;
    text-decoration: none;
    transition: 0.3s;
}
footer .btn-to-top:hover{
    font-size: 1.9em;
    transition: 0.3s;
}
.copyright{
    /*Stick to bottom of footer*/
    position: absolute;
    bottom: 0px;
    width: 100%;
    
    clear: both;
    background: #ffffff10;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}
