/*---------- MAIN STYLING ----------*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    background: #212121;
    color: #fdfdfd;
    display: grid;
    line-height: 1.5em;
}
h1{
    font-size: 2em;
}
h2{
    color: #00e1c2;
}
article h2{
    color: white;
}
a:link{
    color: white;
    text-decoration: none;
}
.noscript{
    text-align: center;
    background-color: darkred;
    color: white;
    margin: 0;
    padding: 10px;
}
hr{
    border: 1px solid #ffffff20;;
}

/*---------- BUTTONS ----------*/
.btn-primary{
    padding: 15px 35px;
    background-color: #00e1c2;
    background-image: linear-gradient(150deg, #00e1c2, #00e1c2, #007969);
    background-size: 300% 100%;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
    box-shadow: 0 0 9px #00000020;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.btn-primary:hover{
    scale: 1.05;
    background-color: #007969;
    background-position: 100% 0;
    color: white;
    transition: all ease-in-out 0.3s;
}
.btn-secondary{
    padding: 15px 35px;
    background-color: #007969;
    color: white;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
    box-shadow: 0 0 9px #00000020;
    transition: 0.3s;
    cursor: pointer;
}
.btn-secondary:hover{
    scale: 1.05;
    background-color: #00e1c2;
    color: #212121;
    transition: 0.3s;
}
.btn-create{
    text-align: center;
    margin-top: 40px;
}

/*---------- NAVIGATION ----------*/
header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}
.main-menu{
    /*overflow:auto;*/
    height: 50px;
    width:100%;
    background: #191919;
    color:white; 
    /*box-shadow: 0 4px 9px black;*/
    padding: 10px 0;
}
.main-menu ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    padding: 12px;
}
.main-menu li{
    display: inline;
    padding: 7px 15px;
}
.main-menu a{
    color: unset;
    text-decoration:none;
    cursor: pointer;
}
.main-menu .active{
    border-bottom: 1px solid #00e1c2;
}
.main-menu .wrapper{
    width: 100%;
    position: relative;
}
/*Login button in navigation*/
.login-button{
    background: #00e1c2;
    border-radius: 5px;
    transition: 0.3s;
}
.login-button:hover{
    font-size: larger;
    transition: 0.3s;
}
/*User profile picture when logged in*/
.user-dropdown{
    position: relative;
    overflow: auto;
}
.dropdown{
    display: none;
    overflow: auto;
    background: #2f2f2f;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #3d3d3d;
    margin: 0 10px;
    position: absolute;
    right: 0;
    top: 60px;
}
.dropdown dt{
    font-weight: bold;
    padding-bottom: 0;
}
.dropdown .points{
    color: #b000e1;
    text-shadow: 0 0 3px #b000e1;
}
.dropdown .seperator{
    border-bottom: 1px solid #3d3d3d;
}
.dropdown dd a:hover{
    cursor: pointer;
    font-weight: bold;
}
.dropdown-entry{
    margin: 0;
    padding: 7px;
}
.pb-image-wrapper{
    position: absolute;
    right: 10px;
    top: 5px;
}
@media only screen and (max-width: 500px) {
    .pb-image-wrapper{
    top: 75px;
}
}
.pb-image-wrapper img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: linear .3s;
}
.pb-image-wrapper img:hover{
    transition: linear .3s;
    box-shadow: 4px 4px #ffffff40;
}

/*---------- HOME IMAGE ----------*/
.front-image{
    position: absolute;
    right: 3%;
    top: 40px;
    width: 15%;
    opacity: .6;
    animation: fadein linear 1s;
    max-width: 300px;
}
.top-image{
    background-image: url("../images/main-banner.jpg");
    background-position: bottom;
    height: 700px;
    position: relative;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-image div{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 0 0 20px black;
}
.top-image div h1{
    font-size: 4em;
    width: 70%;
    max-width: 700px;
    margin: 20px auto;
    line-height: normal;
}
.top-image div p{
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    color: lightgray;
}
.top-image div a{
    margin: 40px 0;
}
/*---------- SITE CONTENT ----------*/
main{
    width: 100%;
    margin: 0 auto;
}
article{
    width: 80%;
    margin: 0 auto;
}

main .teaser{
    margin-bottom: 70px;
}

/*---------- 3 ITEMS ----------*/
.item-wrapper{
    width: 100%;
    background: #ffffff10;
    overflow: auto;
    margin: 80px 0;
}
.item{
    float: left;
    width: 31.2%;
    margin: 50px 1%;
    text-align: center;
    min-width: 250px;
}
@media only screen and (max-width: 800px) {
    .item{
        float: unset;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 500px) {
    .item{
        float: unset;
        width: 90%;
    }
}
.item img{
    height: 150px;
    border-radius: 3px;
    transition: linear .3s;
    filter: drop-shadow(0 3px 3px black);
}
.item img:hover{
    transition: linear .3s;
    filter: drop-shadow(0 6px 6px black);
    scale: 1.02;
    
/*
    scale: 1.05;
    box-shadow: 0 0 15px #00000020;
    transition: 0.3s;*/
}

/*---------- CHALLENGES ----------*/
.challenges{
    width: 80%;
    margin: 0 auto;
}
@media only screen and (max-width: 800px) {
    .challenges{
        width: 100%;
        padding: 40px 0;
    }
    .challenge-search-wrapper{
        margin-left: 20px;
    }
}
.challenge-picture{
    position: relative;
    right: 20px;
    top: -50px;
    float: right;
    height: 80px;
    width: 80px;
    margin: 0 0 -50px 15px;
    border-radius: 12px;
    border: 5px solid #212121;
    background-color: #2f2f2f;
}
.challenge-wrapper{
    background: #ffffff10;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
    max-height: 1000px;
    overflow: auto;
    width: 100%;
}
@media only screen and (max-width: 800px) {
    .challenge-wrapper{
        display: revert;
    }
}
.challenge{
    background: #212121;
    float: left;
    width: 31%;
    min-width: 175px;
    max-width: 500px;
    border-radius: 9px;
    height: 300px;
    margin: 1%;
    transition: linear .2s;
}
.challenge:hover{
    transition: linear .2s;
    box-shadow: 4px 4px #ffffff20;
}
@media only screen and (max-width: 800px) {
    .challenge{
        float: unset;
        width: 60%;
        margin: 30px auto;
    }
}
@media only screen and (max-width: 500px) {
    .challenge{
        float: unset;
        width: 90%;
    }
}
.challenge:hover .challenge-color{
    filter: brightness(120%);
    transition: linear .2s;
}
.challenge-color{
    border-radius: 9px 9px 0 0;
    padding: 20px 0;
    transition: linear .2s;
}
.challenge-color p{
    padding: 5px 20px;
    margin: 0;
    font-size: 3em;
    opacity: 0.4;
}
.challenge-description{
    padding: 20px;
}
.challenge-description h2{
    margin-top: 0;
    color: #ffffff;
    /*min-height: 55px;*/
}

/*Challenges search*/
#search-difficulty#search-difficulty{
    width: 50px;
}
.challenge-search input, .challenge-search select{
    width: 200px;
}

/*---------- LOGIN FORM ----------*/
.animation-wrapper{
    animation: slidein linear .7s;
}
.form-wrapper{
    box-shadow: 0 0 9px black;
    width: 60%;
    min-width: 100px;
    max-width: 500px;
    margin: 200px auto;
    padding: 50px;
    border-radius: 9px;
    
    background-color: #00e1c2;
    background-image: url("../images/Login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #212121;
    height: 600px;
}
@media only screen and (max-width: 800px) {
    .form-wrapper{
        margin: 100px auto;
        padding-bottom: 100px;
    }
    .animation-wrapper{
        animation: none;
    }
}
.login-form{
    margin-top: 50px;
    text-align: center;
}
.login-submit{
    text-align: center;
    cursor: pointer;
    margin-top: 180px;
}
.login-form input{
    width: 80%;
    background: #007969;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 9px;
    margin: 8px 0 20px 0;

    border: 3px solid #00e1c2;

}
.login-form p{
    text-align: center;
}
.login-form ::placeholder {
  color: lightgrey;
  opacity: 1;
}
.login-submit:hover{
    border: 2px solid #00e1c2;
}
.form-wrapper h2{
    color: #242424;
}

/*---------- PROFILE FORMS ----------*/
/*General forms*/
input, textarea, select, .form-element{
    background: #ffffff20;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 9px;
    margin: 10px 0 20px 0;
    max-width: 470px;
    width: 80%;
}
.profile #new-pw{
    margin-bottom: 0;
}
.profile form select{
    width: 83%;
}
.profile form select option{
    background: #212121;
    color: white;
}
/*Image uploads*/
.change-banner input[type="file"]{
    display: none;

}
.background form{
    position: absolute;
    right: 20px;
    bottom: 15px;
    z-index:1;
}
.background form label{
    cursor: pointer;
}
.change-banner{
    position:relative;
    opacity: 0.3;
}
.change-banner:hover{
    opacity: 0.7;
}
.change-picture input[type="file"]{
    display: none;

}
.change-picture label{
    cursor: pointer;
    left: 70px;
    top: -45px;;
    position: relative;
    opacity: 0.3;
}
.change-picture label:hover{
    opacity: 0.7;
}

/*---------- PROFILE ----------*/
.profile-header{
    position: relative;
    top: -60px;
    margin: -120px 20%;
    margin-bottom: -80px;
    text-align: center;
    width: 80%;
}
@media only screen and (max-width: 500px) {
    .profile-header{
        width: 70%;
    }
}
.profile-picture{
    display:inline-block;
    float: left;
    height: 170px;
    width: 170px;
}
.profile-picture img{
    height: 170px;
    width: 170px;
    border-radius: 12px;
    border-radius: 12px;
    border: 8px solid #212121;
    background-color: #007969;
}
.profile-customize{
    margin-bottom:80px;
}
.user-name{
    font-size: 2.6em;
    float: left;
    padding: 60px 30px;
    margin-top:60px
}
@media only screen and (max-width: 550px) {
    .user-name{
        padding: 0;
        margin-top: 25px;
        text-align: left;
        width: 100%;
    }
}

.background{
    background-image: url("../images/image.jpg");
    background-position: bottom;
    height: 270px;
    position: relative;
    margin-bottom: 80px;
}
.background div{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-shadow: 0 0 20px black;
}

/*---------- CHALLANGE ----------*/
.challenge-attributes{
    overflow: auto;
}
.challenge-attributes p{
    margin-bottom: 50px;
}
.challenge-attribute, .rating{
    float: left;
    margin: 0 20px 10px 0;
    padding: 7px;
    background: #191919;
    border-radius: 5px;
    border: 1px solid #3d3d3d;
    font-size: 0.8em;
    min-width: 70px;
}
.comment .rating{
    margin: 0;
    float: right;
}
.challenge-attribute h3, .challenge-attribute p, .rating h3, .rating p{
    margin: 0;
}
.challenge-tags{
    clear: both;
    margin: 0 auto;
    overflow: auto;
}
.tag-wrapper{
    position: relative;
    overflow: auto;
    display: inline-block;
}
.tag-wrapper label{
    cursor: pointer;
}
.challenge-tag{
    /*display: inline-block;*/
    float: left;
    margin-right: 10px;
}
.challenge-tag p{
    display: none;
}
.challenge-tag img{
    filter: invert();
}
/*toggle tags*/
.challenge-tags label{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 10;
}
#toggle{
    display: none;
}
#toggle:checked ~ div p{
    display: revert;
}
.challenge-tag img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.challenge-tag p{
    margin: 0;
}
.challenge-information, .challenge-comments{
    clear: both;
    background: #ffffff20;
    border-radius: 7px;
    padding: 20px;
    margin: 40px auto;
}
.challenge-information form h2{
    margin-bottom: 0;
}
.challenge-information form h3{
    margin-top: 5px;
    margin-bottom: 0;
}
.challenge-information form textarea{
    margin-top: 0;
    margin-bottom: 5px;
}
.challenge-information #fileupload{
    background-color: #ffffff20;
    display: inline-block;
    max-width: 470px;
    width: 38%;
    padding: 5%;
    border: 2px dotted #7d7d7d;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.challenge-information #fileupload:hover{
    background-color: #ffffff30;
    scale: 1.02;
}
.challenge-information #files{
    display: none;
}
/* solution submit*/
.solution h3{
    margin-bottom: 0;
}
.solution input{
    width: 100%;
}
.solution div{
    padding: 9px;
    background: #212121;
    color: white;
    margin: 5px 5px 13px 30px;
    margin-bottom: 13px;
    border-radius: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
}
.solution table{
    max-width: 700px;
    width: 70%;
}
@media only screen and (max-width: 800px) {
    .solution table{
        width: 95%;
    }
}
/*Text / Description*/
.challenge-text p{
    margin-bottom: 40px;
}
/*Hints*/
.challenge-hints{
    overflow: auto;
    width: 100%;
    text-align: center;
}
.hint{
    border-radius: 5px;
    box-shadow: 0 0 9px black;
    float: left;
    margin: 1%;
    width: 31.3%;
    max-width: 500px;
    cursor: pointer;
    padding: 10px 0;
}
@media only screen and (max-width: 800px) {
    .hint{
        float: none;
        margin: 20px auto;
        width: 95%;
    }
}
.hint h4{
    margin-bottom: 5px;
}
.hint-cost{
    margin: 0 10px 20px 0;
}
.hint-text{
    filter: blur(5px);
    padding: 20px;
    user-select: none;
}
.warning{
    color: orange;
    margin-top: -40px;
    text-shadow: 0 0 5px black;
}
/*Comments*/
.solved-comment .rating{
    margin: 0;
    width: 140px;
}
#solved-text{
    width: 98.5%;
    height: 200px;
    max-width: 1200px;
}
@media only screen and (max-width: 800px) {
    #solved-text{
        width: 93%;
    }
}
#solved-rating{
    -webkit-appearance: none;
    width: 140px;
    margin-top: 0;
    padding: 0;
    height: 8px;
}
#solved-rating::-webkit-slider-thumb {
    /*-webkit-appearance: none;*/
}
#solved-stars{
    margin-bottom: 0;
}
.challenge-comments{
    max-height: 1000px;
    overflow: auto;
}
.comment img{
    height: 60px;
    width: 60px;
    border-radius: 15px;
    float: left;
    margin-bottom: 20px;
    box-shadow: 0 0 9px #00000050;
}
.comment .username{
    margin-left: 20px;
    float: left;
}
.comment .ratings, .comment-text{
    clear: both;
}
.comment .ratings{
    margin-bottom: 20px;
    overflow: auto;
}

/*---------- FOOTER ----------*/
footer{
    clear: both;
    margin-top: 200px;
    overflow: auto;
    /*box-shadow: 0 0 9px black;*/
    background: #111111;
    height: 500px;
    position: relative;
    
    /*Background image*/
    background-image: url("../images/Footer2.png");
    background-repeat: no-repeat;
    /*background-blend-mode: soft-light;*/
    background-position: center;
}
footer dl{
    padding: 50px;
    margin: 0;
    float: left;
}
footer dt{
    font-weight: bolder;
    color: #00e1c2;
    margin: 0
}
footer dd{
    margin: 0;
    opacity: 0.3;
}
footer nav{
    overflow: auto;
    padding: 60px;
    font-size: 1.2em;
}
footer .btn-to-top{
    position: absolute;
    top: 10%;
    left: 50%;
    padding: 10px 25px;
    background-color: #00e1c2;
    color: #242424;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-size: 1.5em;
    border-radius: 3px;
    box-shadow: 0 0 9px black;
    text-decoration: none;
    transition: linear .2s;
}
footer .btn-to-top:hover{
    font-size: 1.9em;
    transition: linear .2s;

}
.copyright{
    /*Stick to bottom of footer*/
    position: absolute;
    bottom: 0px;
    width: 100%;
    
    clear: both;
    background: #ffffff10;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

/*---------- Animation ----------*/
@keyframes fadein {
    0% {filter: opacity(0);}
    25% {filter: opacity(0.1);}
    75% {filter: opacity(0.6);}
    100% {filter: opacity(1);}
}
@keyframes slidein {
    0% {margin-left: -1000px; opacity: 0;}
    100% {margin-left: 0; opacity: 1;}
}

@keyframes hoverup {
    0% {box-shadow: 0px 0px white;}
    100% {box-shadow: 4px 4px white;}
}


/*---------- Errorsite ----------*/

.errorsite{
    text-align: center;
    width: 100%;   
    font-size: 2em;
    padding-top: 100px;

}
.errorsite table{
    margin-left: auto;
    margin-right: auto;


}
.errorsite .errorcode{
    background: #00e1c2;
    border-radius: 5px;
    font-size: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 1;
}
.errorsite .errortext{
    border-bottom: 5px solid #00e1c2;
}
.errorsite th{
   padding-top: 100px;
}
